body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#banner {
  padding: 0;
  color: #FFF;
  font: 0.8em Cambria;
  background: url("new.jpg") no-repeat center center / cover;
  border: 1px solid rgb(218, 218, 218);
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;

}

#search {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
position: relative;
}

#text {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  color: rgb(10, 10, 10);
  font: 2em Cambria;
  box-sizing: border-box;
  margin: 0 auto;
}

#resetButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #0070FF;
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resetButton:hover {
  background-color: #0059b3;
}
#content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  backdrop-filter: blur(10px);
}

th {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

td {
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

tr:nth-child(even) {
  background-color: #F3E5F5;
}

tr:nth-child(odd) {
  background-color: #E1BEE7;
}

#scrolling-line {
  padding: 10px;
  color: #0070FF;
  font: 0.9em Tahoma;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#scrolling-line span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #717171;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

/* Navigation Bar */
.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
      font-family: Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: #000;
  padding: 5px;
  font-size: 1.0em;
}

.nav-logo {
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 3;
  padding: 3;
}

.nav-link-item {
  margin-left: 10px;
}

.nav-link-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.nav-link-item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.mobile-menu {
    display: none;
}

.mobile-menu-icon {
    cursor: pointer;
}

.mobile-menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mobile-menu-dropdown-item {
    margin-bottom: 10px;
}

.show .mobile-menu-dropdown {
    display: block;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    /* Adjust banner styles for mobile */
    #banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f9f9f9;
    }

    .nav-logo {
        font-size: 20px;
    }

    /* Adjust mobile menu styles */
    .mobile-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    /* Adjust content styles */
    #header {
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
    }

    #search {
        margin-bottom: 20px;
    }
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#banner {
  padding: 0;
  color: #FFF;
  font: 0.8em Cambria;
  background: url("new.jpg") no-repeat center center / cover;
  border: 1px solid rgb(218, 218, 218);
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;

}

#search {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
position: relative;
}

#text {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  color: rgb(10, 10, 10);
  font: 2em Cambria;
  box-sizing: border-box;
  margin: 0 auto;
}

#resetButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #0070FF;
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resetButton:hover {
  background-color: #0059b3;
}
#content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  backdrop-filter: blur(10px);
}

th {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

td {
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

tr:nth-child(even) {
  background-color: #F3E5F5;
}

tr:nth-child(odd) {
  background-color: #E1BEE7;
}

#scrolling-line {
  padding: 10px;
  color: #0070FF;
  font: 0.9em Tahoma;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#scrolling-line span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #717171;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

/* Navigation Bar */
.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
      font-family: Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: #000;
  padding: 5px;
  font-size: 1.0em;
}

.nav-logo {
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 3;
  padding: 3;
}

.nav-link-item {
  margin-left: 10px;
}

.nav-link-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.nav-link-item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* Media Query for screens up to 480px */
@media only screen and (max-width: 480px) {
  body {
    background-size: auto;
  }

  #banner {
    height: 30vh;
  }

  #header {
    font-size: 1.8em;
    margin-top: 130px; /* Add a top margin to push the header below the navigation bar */
  }

  #text {
    font-size: 1.5em;
  }

  #resetButton {
    font-size: 0.8em;
    padding: 5px 10px;
  }

  table {
    font-size: 0.8em;
  }

    /* Mobile Menu */
    .mobile-menu {
      display: none;
    }

    .mobile-menu-icon {
      font-size: 25px;
      cursor: pointer;
      margin-right: 10px;
    }

    .mobile-menu-dropdown {
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .mobile-menu-dropdown-item {
      margin: 5px;
    }

    .mobile-menu-dropdown-item a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 0.9em;
      padding: 5px;
      border-radius: 5px;
    }

    /* Show/hide mobile menu dropdown */
    .mobile-menu.show .mobile-menu-dropdown {
      display: flex;
    }

    /* Media Queries */
    @media only screen and (max-width: 768px) {
      .nav-links {
        display: none;
      }

      .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .mobile-menu-icon {
        font-size: 18px;
      }

      .mobile-menu-dropdown {
        width: 100%;
        font-size: 0.9em;
      }

  /* Search Bar */
  #search {
    max-width: 300px; /* Adjust the max-width to center the search bar */
    margin: 20px auto; /* Add margin to center the search bar */
            margin-bottom: 20px;
  }
}
