body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; /* Add this line */
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("Male.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; /* Add this line */
}

#banner {
  padding: 0;
  color: #FFF;
  font: 0.8em Cambria;
  background: url("new.jpg") no-repeat center center / cover;
  border: 1px solid rgb(218, 218, 218);
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#header:hover {
  background-color: rgba(255, 255, 255, 0.95);
}


#header::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

#header:hover::before {
  opacity: 0.6;
}


/* Search Bar Styling */
  #search {
    margin: 20px auto;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    position: relative;
  }

  #text {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    color: rgb(10, 10, 10);
    font: 2em Cambria;
    box-sizing: border-box;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #resetButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #4070f4;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    transition: 0.2s;
  }

  #resetButton:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #4070f4;
  }

#content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  backdrop-filter: blur(10px);
}

th {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

td {
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

tr:nth-child(even) {
  background-color: #F3E5F5;
}

tr:nth-child(odd) {
  background-color: #E1BEE7;
}

#scrolling-line {
  padding: 10px;
  color: #0070FF;
  font: 0.9em Tahoma;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#scrolling-line span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #717171;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

/* Navigation Bar */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.nav-logo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link-item {
  margin-left: 15px;
}

.nav-link-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px;
  position: relative;
}

.nav-link-item a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scaleX(0);
}

.nav-link-item a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  z-index: -1;
}
.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo-image {
  width: 110px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing if necessary */
}
    /* Mobile Menu */
    .mobile-menu {
      display: none;
    }

    .mobile-menu-icon {
      font-size: 25px;
      cursor: pointer;
      margin-right: 10px;
    }

    .mobile-menu-dropdown {
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 100%;
      right: 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .mobile-menu-dropdown-item {
      margin: 5px;
    }

    .mobile-menu-dropdown-item a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 0.9em;
      padding: 5px;
      border-radius: 5px;
    }

    /* Show/hide mobile menu dropdown */
    .mobile-menu.show .mobile-menu-dropdown {
      display: flex;
    }

    /* Media Queries */
@media only screen and (max-width: 768px) {
  #header {
    font-size: 1.5em;
  }

  #search {
    margin: 10px auto;
   width: 55%;
    
  }

    #search-bar {
    font-size: 14px;
    padding: 12px;
  }

  #text {
    font-size: 1.0em;
  }   

  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-icon {
    font-size: 18px;
  }

  .mobile-menu-dropdown {
    width: 100%;
    font-size: 0.8em;
  }

  /* Underline Style for Nav Links */
  .nav-link-item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: relative;
  }

  .nav-link-item a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scaleX(0);
  }

  .nav-link-item a:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}

/* Add animation to the navigation bar */
.nav-container {
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Add animation to the header */
#header {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Add animation to the content */
#content {
  animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
